{% load i18n %}
{% load team_tags %}
<li>
  <a href="{% url 'crud_example1:thing_list' %}" {% if active_tab == 'crud_example1' %}class="is-active"{% endif %}>
    <span class="pg-icon"><i class="fa fa-rocket"></i></span><span class="is-hidden-tablet-only">{% translate "Things" %}</span>
  </a>
</li>
{% if request.team %}
  <li>
    <a href="{% url 'crud_example2:teamthing_list' request.team.slug %}" {% if active_tab == 'crud_example2' %}class="is-active"{% endif %}>
      <span class="pg-icon"><i class="fa fa-rocket"></i></span><span class="is-hidden-tablet-only">{% translate "TeamThings" %}</span>
    </a>
  </li>
{% endif %}
