{% extends "web/app/app_base.html" %}
{% load static %}
{% block app %}
<nav aria-label="breadcrumbs">
    <ol class="pg-breadcrumbs">
      <li><a href="{% url 'crud_example4:inputthing_list' request.team.slug %}">InputThings</a></li>
      <li class="pg-breadcrumb-active" aria-current="page">{{ object.name }}</li>
    </ol>
  </nav>
  <section class="app-card">
    <h3 class="pg-subtitle">Detail view for {{ object.name }}</h3>
    <div><strong>Id:</strong> {{ object.id }}</div>
    <div><strong>Birthdate:</strong> {{ object.birthdate }}</div>
    <div><strong>Extra:</strong> {{ object.extra }}</div>
    <div><strong>Number:</strong> {{ object.number }}</div>
    <div><strong>Notes 1:</strong> {{ object.notes1 }}</div>
    <div><strong>Notes 2:</strong> {{ object.notes2 }}</div>
    <div><strong>Blocked 1:</strong> {{ object.blocked1 }}</div>
    <div><strong>Blocked 2:</strong> {{ object.blocked2 }}</div>

    <div class="is-italic mt-2">
        <div>Created at: {{ object.created_at }}</div>
        {% if object.modified_at %}
            <div>Modified at: {{ object.modified_at }}</div>
        {% endif %}
    </div>
    <div class="mt-2">
        <a href="{% url 'crud_example4:inputthing_update' request.team.slug object.pk %}" class="pg-button-secondary">
          <span class="pg-icon"><i class="fa fa-pencil"></i></span>
          <span>Edit</span>
        </a>
        <a href="{% url 'crud_example4:inputthing_delete' request.team.slug object.pk %}" class="pg-button-danger pg-ml">
          <span class="pg-icon"><i class="fa fa-times"></i></span>
          <span>Delete</span>
        </a>
      </div>
    </section>
{% endblock %}
